/*MoviesComponent's private CSS styles */
.movies {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.movies li {
  cursor: pointer;
  position: relative;
  background-color: #333;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.movies li:hover {
  color: #f3d000;
  background-color: #333;
  left: .1em;
}
.movies a{
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}
.movies a:hover{
  color: #607d8b;
}
.movies .badge {
  display: inline-block;
  font-size: small;
  color:#eee;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#7c0000;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
